@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pacifico&display=swap');

@import "tailwindcss";


*{
  font-family: 'Outfit',sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}